// CUSTOM
:root {
  --blue: #4377BC;
  --dark-blue: #14274D;
  --medium-black: #51607d;
  --mild-gray: #ededed;
  --light-gray: #D8DDDE;
  --white: #fffdfd;
  --mint: #dfffdb;
  --turquoise: #f3e1f8;
  --off-white: #f9f9f9;
  --yellow: #FFE593;
  --orange: #ffc65a;
}

// BOOTSTRAP
$red: #ab0b0b;
$blue: #4377BC;
$yellow: #FFE593;
$orange: #ffc65a;
$green: #00909E;
$gray: #14274D;
$light-gray: #ededed;
