body {
  --background: var(--white);
  --foreground: var(--dark-blue);
  --accent-color: var(--blue);
  --accent-color-secondary: var(--mint);
  --medium-color: var(--mild-gray);
  --hard-color: var(--medium-black);
  --accent-background: var(--mild-gray);
  --mild-background: var(--off-white);
}

// SUPPLIER

body.supplier {
  --accent-color: var(--mint);
  --bs-link-color: var(--mint);
}

body.supplier .btn-primary {
  --bs-btn-bg: var(--mint);
  --bs-btn-border-color: var(--mint);
  --bs-btn-hover-bg: var(--mint-dark);
  --bs-btn-hover-border-color: var(--mint-dark);
  --bs-btn-active-bg: var(--mint-dark);
  --bs-btn-active-border-color: var(--mint-dark);
  --bs-btn-disabled-bg: var(--mint);
  --bs-btn-disabled-border-color: var(--mint);
}

body.supplier .nav-pills .nav-link.active {
  background-color: var(--mint);
}

// ADMIN

body.admin {
  --accent-color: var(--purple);
  --bs-link-color: var(--purple);
}

body.admin .btn-primary {
  --bs-btn-bg: var(--purple);
  --bs-btn-border-color: var(--purple);
  --bs-btn-hover-bg: var(--purple-dark);
  --bs-btn-hover-border-color: var(--purple-dark);
  --bs-btn-active-bg: var(--purple-dark);
  --bs-btn-active-border-color: var(--purple-dark);
  --bs-btn-disabled-bg: var(--purple);
  --bs-btn-disabled-border-color: var(--purple);
}

body.admin .nav-pills .nav-link.active {
  background-color: var(--purple);
}