body {
  --background: var(--white);
  --foreground: var(--dark-blue);
  --accent-color: var(--blue);
  --accent-color-secondary: var(--mint);
  --medium-color: var(--mild-gray);
  --hard-color: var(--medium-black);
  --accent-background: var(--mild-gray);
  --mild-background: var(--off-white);
}