// BOOTSTRAP
$red: #ab0b0b;
$blue: #167ffb;
$yellow: #FFE593;
$orange: #ffc65a;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

// CUSTOM
:root {
  --blue: #4377BC;
  --dark-blue: #14274D;
  --medium-black: #51607d;
  --mild-gray: #ededed;
  --light-gray: #D8DDDE;
  --white: #fffdfd;
  --mint: #dfffdb;
  --turquoise: #f3e1f8;
  --off-white: #f9f9f9;
}

