<% content_for :title, "Dashboard for suppliers" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>
        Dashboard for suppliers
      </h1>
    </div>
  </div>
</div>