<% content_for :title, "Edit supplier location #{@supplier_location.name}" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="map-form-wrapper" data-controller="geocoder" data-key="<%= ENV['MAPBOX_API_KEY'] %>">
        <div class="form">
          <%= link_to suppliers_supplier_location_path(@supplier_location), class: "back-button" do %>
            &larr; Back
          <% end %>
          <h1>
            Edit supplier location '<%= @supplier_location.name %>'
          </h1>
          <%= render partial: "form", locals: { supplier_location: @supplier_location } %>
        </div>
        <div id="map" data-geocoder-target="map"></div>
      </div>
    </div>
  </div>
</div>

