<% content_for :title, "Edit supplier location #{@supplier_location.name}" %>

<div class="container" data-controller="geocoder" data-key="<%= ENV['MAPBOX_API_KEY'] %>">
  <div class="row">
    <div class="col-12 col-md-6 pb-4 order-2 order-md-1">
      <div class="form-wrapper">
        <div class="form">
          <%= link_to suppliers_supplier_location_path(@supplier_location), class: "back-button" do %>
            &larr; Back to detail page
          <% end %>
          <h1>
            Edit supplier location '<%= @supplier_location.name %>'
          </h1>
          <%= render partial: "form", locals: { supplier_location: @supplier_location } %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-2">
      <div id="map" data-geocoder-target="map"></div>
      <div class="map-padding"></div>
    </div>
  </div>
</div>

