<% content_for :title, "Location details for '#{@supplier_location.name}'" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <%= link_to suppliers_path, class: "back-button" do %>
        &larr; Back to dashboard
      <% end %>
      <h1>
        Location details for <%= @supplier_location.name %>
      </h1>
      <%= link_to "Edit", edit_suppliers_supplier_location_path(@supplier_location) %>
    </div>
  </div>
</div>