
<% @offtaker_locations.each do |offtaker_location| %>
  <%= render partial: "location", locals: { offtaker_location: offtaker_location } %>
<% end %>
<%= will_paginate @offtaker_locations %>

<% unless @offtaker_locations.any? %>
  <p>
    No locations
  </p>
<% end %>
