<% content_for :title, "New offtaker location" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="map-form-wrapper" data-controller="geocoder" data-key="<%= ENV['MAPBOX_API_KEY'] %>">
        <div class="form">
          <%= link_to offtakers_path, class: "back-button" do %>
            &larr; Back to dashboard
          <% end %>
          <h1>
            New offtaker location
          </h1>
          <%= render partial: "form", locals: { offtaker_location: @offtaker_location } %>
        </div>
        <div id="map" data-geocoder-target="map"></div>
      </div>
    </div>
  </div>
</div>