<% content_for :title, "Location details for '#{@offtaker_location.name}'" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>
        Location details for '#{@offtaker_location.name}'
      </h1>
    </div>
  </div>
</div>