<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <svg version="1.1" baseProfile="tiny" id="logo-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 22 29" overflow="visible" xml:space="preserve">
          <path fill="var(--accent-color)" d="M11,27.3c0,0,10-7.8,10-14.9c0-6.1-4.5-11.1-10-11.1S1,6.3,1,12.4C1,19.2,11,27.3,11,27.3z"/>
          <g>
            <path fill="#FFFFFF" d="M12.4,5.4c-0.2-0.6-0.7-1-1.4-1c-0.6,0-1.2,0.4-1.4,1C6.5,6,4.1,8.8,4.1,12.1c0,3.8,3.1,6.9,6.9,6.9
              c3.8,0,6.9-3.1,6.9-6.9C17.9,8.8,15.5,6,12.4,5.4z M11,17.8c-3.1,0-5.7-2.5-5.7-5.7c0-2.7,1.9-5,4.4-5.5C10,7,10.5,7.3,11,7.3
              c0.5,0,1-0.3,1.2-0.7c2.5,0.6,4.4,2.8,4.4,5.5C16.7,15.3,14.1,17.8,11,17.8z"/>
            <ellipse transform="matrix(0.9732 -0.2298 0.2298 0.9732 -2.495 2.854)" fill="#FFFFFF" cx="11" cy="12.1" rx="2.7" ry="2.7"/>
          </g>
          </svg>
          <div class="logos">
            <a href="https://www.niwater.com/home/" target="_blank">
              <%= image_tag 'niw.png' %>
            </a>
            <a href="https://www.kier.co.uk/" target="_blank">
              <%= image_tag 'kier.png' %>
            </a>
            <a href="https://volta-batteries.com/" target="_blank">
            <%= image_tag 'volta.png' %>
            </a>
          </div>


          <ul class="footer-right list-unstyled">
            <li>
              <a href='https://www.mapbox.com/about/maps/' target='_blank'>Maps &copy; Mapbox &copy; OpenStreetMap</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>