<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <svg id="logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="m17.73,2.44c-.37-1.15-1.45-1.99-2.73-1.99s-2.36.83-2.73,1.99C6.04,3.7,1.34,9.21,1.34,15.82c0,7.54,6.11,13.66,13.66,13.66s13.66-6.11,13.66-13.66c0-6.61-4.69-12.12-10.93-13.38Zm-2.73,24.64c-6.21,0-11.25-5.04-11.25-11.25,0-5.38,3.78-9.88,8.82-10.99.51.81,1.4,1.35,2.43,1.35s1.92-.54,2.43-1.35c5.05,1.11,8.82,5.61,8.82,10.99,0,6.21-5.04,11.25-11.25,11.25Z" fill="#4377bc"/><circle cx="15" cy="15.82" r="5.3" transform="translate(-3.23 3.87) rotate(-13.28)" fill="#4377bc"/></svg>

          <ul class="footer-right list-unstyled">
            <li>
              <a href='https://www.mapbox.com/about/maps/' target='_blank'>Maps &copy; Mapbox &copy; OpenStreetMap</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>