<div class="navbar-h2-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="navbar-h2">
          <%= link_to root_path do %>
            <%= render partial: 'shared/logo' %>
          <% end %>
          <div class="navbar-right">
            <%= render partial: "shared/dropdown" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>