  <li id="<%= dom_id scenario %>">
    <%= link_to scenario_path(scenario) do %>
      View scenario report: <%= "#{offtaker_signed_in? ? scenario.supplier_location.name : scenario.offtaker_location.name} - #{scenario.distance}km" %> &rarr;
    <% end %>
    <button 
      data-action="click->maps#drawRoute" 
      data-location="<%= offtaker_signed_in? ? [scenario.supplier_location.longitude, scenario.supplier_location.latitude, (scenario.supplier_location.name || scenario.supplier_location.address), scenario.supplier_location.id].to_json : [scenario.offtaker_location.longitude, scenario.offtaker_location.latitude, (scenario.offtaker_location.name || scenario.offtaker_location.address), scenario.offtaker_location.id].to_json %>"
      class="btn btn-primary"
      aria-label="Show on map" 
      data-balloon-pos="up"
    >
      <i class="fa-solid fa-route"></i>
    </button>
  </li>