.banner-wrapper {
  background-color: var(--accent-color);
  color: var(--accent-background);
  max-width: 1600px;
  margin: 50px auto;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgb(1 1 1 / 30%);
}

.banner {
  gap: 20px;
  max-height: 100vh;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-weight: bold;
  color: var(--background);
}

@media (max-width: 768px) {
  .banner-wrapper {
    border-radius: 0;
  }
  .banner {
    grid-template-columns: 1fr;
    height: inherit;
    padding-bottom: 100px;
    padding-top: 30px;
  }
}