.pages-home .bubble-dropdown:not(.collapsed) ul {
  border: none;
  border: 1px solid #e7e7e7;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: 10px;
}

.bubble-dropdown-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.bubble-dropdown-wrapper > button {
  border: none;
  background-color: transparent;
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble-dropdown-wrapper > button span {
  min-width: 170px;
  text-align: right;
}

.bubble-dropdown-wrapper > button h2 {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  align-items: baseline;
  gap: 5px;
  line-height: 2rem;
}


.bubble-dropdown-wrapper > button:focus {
  outline: none;
}

.bubble-dropdown-wrapper > button .fas {
  margin-left: 5px;
}

.bubble-dropdown {
  z-index: 4;
  position: absolute;
  width: 100%;
  top: 100%;
  padding-top: 10px;
  overflow: hidden;
  height: auto;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  transition: max-height 300ms ease, padding 300ms ease;
}

.bubble-dropdown.collapsed {
  max-height: 0px;
  padding: 10px 0;
}

.bubble-dropdown ul {
  background-color: var(--background);
  position: relative;
  padding: 0;
  list-style: none;
  margin: 0;
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 31px;
  padding-bottom: 10px;
}

.bubble-dropdown ul li.indented {
  padding-left: 20px;
}

.bubble-dropdown ul li:not(.indented):not(:first-child) {
  border-top: 1px solid var(--mild-gray);
  margin-top: 10px;
}

.bubble-dropdown ul li a,
.bubble-dropdown ul li button,
.bubble-dropdown ul li > p {
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: var(--foreground);
  background-color: transparent;
  border: none;
  text-align: left;
  margin: 0;
}

.bubble-dropdown ul li a:hover,
.bubble-dropdown ul li button:hover {
  text-decoration: underline;
}

.bubble-dropdown ul li a:focus,
.bubble-dropdown ul li button:focus {
  outline: none;
}

.bubble-dropdown-wrapper h2 i.fas {
  font-size: 24px;
}

.bubble-dropdown .supplier {
  border-bottom: 4px solid var(--mint);
}

.bubble-dropdown .offtaker {
  border-bottom: 4px solid var(--blue);
}

@media (max-width: 400px) {
  .bubble-dropdown-wrapper > button span {
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    min-width: auto;
  }
}
