.footer-wrapper {
  border-top: 1px solid var(--medium-color);
  z-index: 9999;
  position: relative;
  background-color: var(--background);
}

.footer {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.footer #logo-icon {
  width: 100px;
}

.pages-home .footer-wrapper,
.suppliers\/supplier_locations-show .footer-wrapper,
.suppliers\/supplier_locations-new .footer-wrapper,
.scenarios-show .footer-wrapper,
.offtakers\/offtaker_locations-show .footer-wrapper,
.offtakers\/offtaker_locations-new .footer-wrapper,
.offtakers\/offtaker_locations-edit .footer-wrapper,
.suppliers\/supplier_locations-edit .footer-wrapper {
  border: none;
}


@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer #logo-icon {
    display: none;
  }
}