.field {
  margin-top: 15px
}

.field-group {
  background-color: var(--mild-background);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid var(--light-gray);
}

// DEVISE ACCOUNT MANAGEMENT FORMS

.actions {
  display: inline-block;
}

.devise-form {
  padding-right: 50px;
}

.devise-form .btn.btn-primary {
  margin-top: 15px;
}

.links {
  margin: 10px 0;
}

.devise {
  padding-top: 200px;
}

.devise > canvas {
  width: 50vw;
  height: calc(100vh - 110px);
  position: absolute;
  top: 0;
  right: 0;
}

.sized-input {
  max-width: 400px;
}

@media (max-width: 768px) {
  .devise > canvas {
    display: none;
  }

  .devise-form {
    padding-right: 0;
  }
  
  .devise {
    padding-top: 50px;
  }
}

.redirection-box {
  background-color: var(--accent-background);
  color: var(--foreground);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  max-width: fit-content;
}

.redirection-box h6,
.redirection-box a {
  color: var(--foreground);
}

.redirection-box a {
  margin-right: 10px;
  display: inline-block;
}