.field {
  margin-top: 15px
}

.field-group {
  background-color: var(--mild-background);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid var(--light-gray);
}

.map-form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.map-form-wrapper .form {
  padding-top: 30px;
}

// DEVISE ACCOUNT MANAGEMENT FORMS

.devise-form {
  padding-right: 50px;
}

.devise-form .btn.btn-primary {
  margin-top: 15px;
}

.links {
  margin: 10px 0;
}

.devise {
  position: relative;
  padding-top: 200px;
}

.devise::after {
  content: "";
  width: 50vw;
  height: calc(100vh - 110px);
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--accent-color);
}

@media (max-width: 920px) {
  .devise::after {
    display: none;
  }

  .devise-form {
    padding-right: 0;
  }
  
  .devise {
    padding-top: 50px;
  }
}