.data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  grid-auto-rows: max-content;
}

.data-label {
  font-weight: 500;
}

.data-value {
  background-color: var(--mild-gray);
  padding: 5px 10px;
  min-height: 24px;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
}

.data-value.empty {
  opacity: 0.3;
}

.data-value p {
  margin: 0;
}

.data-value a[data-bs-toggle='collapse'] {
  flex-grow: 1;
  justify-content: end;
  display: flex;
  text-decoration: none;
}

.data-unit {
  flex-grow: 1;
  margin-left: 5px;
}

.data-row {
  grid-column: 1 / span 2;
}

.data-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 50px 0;
}

.data-list .data:not(:last-child) {
  border-bottom: 1px solid var(--mild-gray);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#scenarios {
  margin: 30px 0;
  position: relative;
}

#scenarios li {
  margin-top: -1px;
  border: 1px solid var(--medium-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#scenarios li.active {
  border: 1px solid var(--accent-color);
  z-index: 9;
  position: inherit;
}

#scenarios li span {
  flex-basis: 200px;
}

ol > li {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .data-two-columns {
    grid-template-columns: 1fr;
  }
  #scenarios li button {
    display: none;
  }
  #scenarios li .actions a:first-child {
    display: none;
  }
  #scenarios li span {
    flex-basis: 100px;
  }
}