.location-list {
  padding: 20px 0;
}

.location-list-item {
  border: 1px solid var(--medium-color);
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  margin-top: -1px;
}

.location-list-data {
  flex-grow: 1;
  align-items: center;
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.location-list-data h2 {
  font-size: 20px;
  margin: 0;
}

.location-list-data p {
  margin: 0;
}

.location-list-data i[class^='fa'] {
  font-size: 18px;
}