.navbar-h2-wrapper {
  background-color: var(--background);
  border-bottom: 1px solid var(--medium-color);
  width: 100vw;
  z-index: 5;
  height: 110px;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-h2-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.navbar-h2 #logo {
  max-width: 200px;
  width: 200px;
}

.navbar-h2 #logo .text,
.banner-nav #logo .text {
  fill: var(--foreground);
}

.dark .navbar-h2 #blob path,
.dark .banner-nav #blob path {
  fill: var(--blue);
}

.navbar-right {
  height: auto;
}

.navbar-right a {
  color: var(--foreground);
}


@media (max-width: 920px) {
  .navbar-h2 #logo,
  .banner-nav #logo {
    max-width: 160px;
  }

  .navbar-h2-wrapper.not-sticky {
    position: static;
  }

  body.posts-new,
  body.posts-new.ribbon-on {
    padding-top: 0;
  }  
}

@media (min-width: 768px) and (max-height: 850px) {
  .navbar-h2 #logo {
    max-width: 150px;
  }
  .navbar-h2 {
    padding: 0;
  }
}

